@font-face {
  font-family: DINregular;
  src: url("../DINRegular.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  font-family: DINregular; }

header {
  background-color: #2b2f2f; }
  header h1 {
    color: white;
    font-size: 1.5em;
    padding: 2em;
    margin: 0;
    text-transform: uppercase; }
