.carousel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slideHeader{
  padding: 2em;
  text-align: center;
}

.slideNumber{
  @include cardStyle;
}
.buttonLeft{
  @include buttonStyleSlide;
}
.buttonRight{
  @include buttonStyleSlide;
}
